@import url("./__bg/cover__bg.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__title/cover__title.css");
.cover{
  max-width: 1184px;
  margin: auto;
}
.cover a {
  text-decoration: none;
}
/*@media screen and (max-width: 425px) {
  .cover {
    min-width: 320px;
    min-height: 216px;
  }
}*/
