.page__footer {
  margin: auto;
  margin-bottom: 48px;
}
@media screen and (max-width: 425px) {
  .page__footer {
    margin-top: 64px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 425px) {
  .page__footer {
    width: 95%;
    margin-top: 64px;
    margin-bottom: 24px;
  }
}