.video-card__duration {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-top: 94px;
  margin-left: 30px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 425px) {
  .video-card__duration {
    margin: 0px;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .video-card__duration {
    margin: 0px;
    margin-bottom: 3%;
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .video-card__duration {
    margin: 0px;
    margin-bottom: 3%;
    margin-left: 30px;
  }
}