.places__place-form {
  margin: auto;
  margin-bottom: 72px;
}
@media screen and (max-width: 425px) {
  .places__place-form {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .places__place-form {
    margin: auto;
    margin-right: 24px;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__place-form {
    margin: auto;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 72px;
  }
}